/*----------------------------------

    style-mobile.css - by pprhr

-----------------------------------*/



/* layout
--------------------*/
.header {
  padding: 72px 16px;
}
.main {
  padding: 0 16px;
}


/* card
--------------------*/
.card-wrap {
  gap: 16px;
}
.card {
  width: 100%;
}


/* title
--------------------*/
.title-h3 {
  font-size: 3rem;
}


/* text
--------------------*/
.text-price {
  font-size: 2.6rem;
}
